@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700&subset=latin,vietnamese,latin-ext);


#slider-0 B {
  color: #ffffff;
}
#menu-1 .navbar-toggler {
  color: #000000;
}
#menu-1 .navbar-brand {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}
#contacts2-d B {
  font-family: 'Oswald', sans-serif;
}



#menu-8 .navbar-toggler {
  color: #000000;
}
#menu-8 .navbar-brand {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}
#social-buttons1-h .mbr-section-title {
  font-size: 25px;
  font-family: 'Alegreya Sans', sans-serif;
}
#contacts2-d B {
  font-family: 'Oswald', sans-serif;
}


#menu-9 .navbar-toggler {
  color: #000000;
}
#menu-9 .navbar-brand {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}
#pricing-table1-a SPAN {
  font-size: 16px;
}
#pricing-table1-b UL {
  font-size: 16px;
}
#form1-e .mbr-section-title {
  font-size: 48px;
}
#contacts2-d B {
  font-family: 'Oswald', sans-serif;
}


#pricing-table1-v SPAN {
  font-size: 30px;
}
#menu-j .navbar-toggler {
  color: #000000;
}
#menu-j .navbar-brand {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}
#form1-x .mbr-section-title {
  font-size: 48px;
}
#contacts2-k B {
  font-family: 'Oswald', sans-serif;
}









#menu-l .navbar-toggler {
  color: #000000;
}
#menu-l .navbar-brand {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}
#msg-box4-n .lead P {
  text-align: left;
}
#msg-box4-n .mbr-section-title {
  text-align: left;
  font-family: 'Alegreya Sans', sans-serif;
}
#msg-box4-o .lead P {
  text-align: right;
}
#msg-box4-o .mbr-section-title {
  text-align: right;
  font-family: 'Alegreya Sans', sans-serif;
}
#msg-box4-p .lead P {
  text-align: left;
}
#msg-box4-p .mbr-section-title {
  text-align: left;
  font-family: 'Alegreya Sans', sans-serif;
}
#msg-box4-q .lead P {
  text-align: right;
}
#msg-box4-q .mbr-section-title {
  text-align: right;
  font-family: 'Alegreya Sans', sans-serif;
}
#msg-box4-r .lead P {
  text-align: left;
}
#msg-box4-r .mbr-section-title {
  text-align: left;
  font-family: 'Alegreya Sans', sans-serif;
}
#msg-box4-s .lead P {
  text-align: right;
}
#msg-box4-s .mbr-section-title {
  text-align: right;
  font-family: 'Alegreya Sans', sans-serif;
}
#form1-t .mbr-section-title {
  font-family: 'Alegreya Sans', sans-serif;
}
#contacts2-m B {
  font-family: 'Oswald', sans-serif;
}
